.custom-cover-goto i, .custom-folio i:nth-child(1), .custom-social i {
	color: #fabf15;
}
.custom-folio span {
	cursor: pointer;
	position: relative;
	display: flex;
	text-decoration: none;
	/* line-height: 1.72222; */
	background-color: #ffffff;
	border: 2px solid #fabf15;
	border-radius: 5px;
	-webkit-transition: border 0.25s ease-custom-out;
	transition: border 0.25s ease-custom-out;
	margin-bottom:1rem;
}

.custom-folio i {
	font-size:5rem;
	/* padding: 1rem; */
}

.custom-folio i:nth-child(1) {
	flex: 1 0 auto;
   
}
.custom-folio i:nth-child(2) {
	width:100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	color:#fff;
	background: #fabf15;
	opacity: 0;
	transition: all 0.2s ease-in;
	box-shadow: 1px 1px 1px 1px #6c757d;
}
.custom-folio i:nth-child(2):hover {
	opacity: 1;
	transition: all 0.2s ease-in;
}
.custom-social i {
	font-size:2.5rem;
}



